[tool.poetry]
name = "terraform-worker"
version = "0.8.0"
description = "An orchestration tool for Terraform"
authors = ["Richard Maynard <richard.maynard@objectrocket.com>"]

[tool.poetry.dependencies]
python = "^3.7"
boto3 = "^1.15.8"
click = "^7.1.2"
awscli = "^1.18.152"
jinja2 = "^2.11.2"
tenacity = "^6.2.0"
requests = "^2.25"

[tool.poetry.dev-dependencies]
ipython = "^7.18.1"
pytest = "^6.1.0"
black = "^20.8b1"
isort = "^5.5.4"
seed-isort-config = "^2.2.0"
flake8 = "^3.8.3"
wheel = "^0.35.1"
pytest-depends = "^1.0.1"
pytest-lazy-fixture = "^0.6.3"
coverage = "^5.5"
pytest-cov = "^2.11.1"

[tool.pytest.ini_options]
addopts = "--capture=sys --cov=tfworker --cov-report="

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
