[tool.poetry]
name = "terraform-worker"
version = "0.1.0"
description = ""
authors = ["Your Name <you@example.com>"]

[tool.poetry.dependencies]
python = "^3.7"
boto3 = "^1.15.8"
click = "^7.1.2"
black = "^20.8b1"
isort = "^5.5.4"
seed-isort-config = "^2.2.0"
awscli = "^1.18.152"
flake8 = "^3.8.3"
jinja2 = "^2.11.2"

[tool.poetry.dev-dependencies]
ipython = "^7.18.1"
pytest = "^6.1.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
