[tool.poetry]
name = "terraform-worker"
version = "0.10.0"
description = "An orchestration tool for Terraform"
authors = ["Richard Maynard <richard.maynard@objectrocket.com>"]
packages = [
    { include="tfworker", from="." },
]
readme = "README.md"

repository = "https://github.com/ephur/terraform-worker"
homepage = "https://github.com/ephur/terraform-worker"
documentation = "https://github.com/ephur/terraform-worker"

license = "Apache-2.0"

classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "Intended Audience :: System Administrators",
    "Intended Audience :: Information Technology",
    "License :: OSI Approved :: Apache Software License",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.8",
    "Topic :: System :: Systems Administration"
]

[tool.poetry.dependencies]
python = "^3.7"
boto3 = "^1.15.8"
click = "^7.1.2"
awscli = "^1.18.152"
jinja2 = "^2.11.2"
tenacity = "^6.2.0"
requests = "^2.25"
google-cloud-storage = "^1.37.1"
moto = {extras = ["sts"], version = "^2.0.5"}

[tool.poetry.dev-dependencies]
ipython = "^7.18.1"
pytest = "^6.1.0"
black = "^20.8b1"
isort = "^5.5.4"
seed-isort-config = "^2.2.0"
flake8 = "^3.8.3"
wheel = "^0.35.1"
pytest-depends = "^1.0.1"
pytest-lazy-fixture = "^0.6.3"
coverage = "^5.5"
pytest-cov = "^2.11.1"
moto = "^2.0.4"

[tool.poetry.scripts]
worker = 'tfworker.cli:cli'

[tool.pytest.ini_options]
addopts = "--capture=sys --cov=tfworker --cov-report="

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
